.blogpost-form{
  width: 70%;
}
.form{
  display: flex;
  width: 100%;
}
.preview{
  width: 30%;
  margin-right:10px ;
  border: 5px solid rgb(105, 105, 105);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  overflow-wrap: break-word;
  text-align: center;
  height: 650px;
  overflow-y: scroll;


}

.blogcontent{
  height: 310px;

}
.inp-bx-img-tit{
  display: flex;
  width: 100%;
  align-items: center;
}
.title{
  width: 70%;
}
.title-inp:active{
  border: none;
}

.preview-image{
  height: 190px;
}
.main-preview{
  overflow-y: scroll;
}

@media only screen and (max-width: 400px) {
  .form{
    display: flex;
    flex-direction: column;
  }
  .preview{
    width: 100%;
  }
  .blogpost-form{
    width: 100%;
  }
  
}

.main-preview h4{
  background-color: aqua;
}