.modal-link{
    text-align: center;
    border-bottom:1px solid gainsboro ;
    font-size: 16px;
    margin: 1% 0%;
}


.modal-container{
    border: 0px solid red;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    min-width: 250px;
    padding: 2%;
    background-color: white;
}
#change-profile-photo{
    font-size: 22px;
    margin-bottom: 3%;
}
#upload-photo{
    color: rgb(0, 119, 255);
    font-weight: bold;
    
}
#remove-current-photo{
    font-weight: bold;
    color: red;
}
#close{
    font-weight: bold;
    color: gray;
}